In [16]:
a=list('abc')
a.reverse()
a

['c', 'b', 'a']

In [11]:
alist('abc').reverse()

In [21]:
s="Let's take LeetCode contest"
lis=[]
for word in s.split(' '):
    w=list(word)
    w.reverse()
    lis.append(''.join(w))

' '.join(lis)

"s'teL ekat edoCteeL tsetnoc"

In [34]:
a=128
list(str(128)).reverse()

In [31]:
sum(list(map(int,list(str(128)))))

11

In [35]:
num=128
while len(list(str(num)))>1:
    num=sum(list(map(int,list(str(num)))))
len('abc')

3

In [38]:
a='XCVII'
roman = {'M': 1000,'D': 500 ,'C': 100,'L': 50,'X': 10,'V': 5,'I': 1}
s=roman[a[0]]
for i in range(1,len(a)):
    if roman[a[i]]>roman[a[i-1]]:
        s+=(roman[a[i]]-2*roman[a[i-1]])
    else:
        s+=roman[a[i]]
s

97

In [39]:
[2,3,4].remove(1)

ValueError: list.remove(x): x not in list

In [41]:
int(7.2/2)

3

In [23]:
import numpy as np
a=np.array(np.zeros([3,3]))

In [24]:
a

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [43]:

for i in range(2):
    for j in range(2):
        a[i][j]+=1
for i in range(3):
    for j in range(3):
        a[i][j]+=1
a

[[5, 5, 3], [5, 5, 3], [5, 5, 3]]

In [29]:
sum(sum(a==2))

4

In [49]:
a=[[1]*2]*3
a[1][0]=2
a

[[2, 1], [2, 1], [2, 1]]

In [51]:

x,y=zip(*[[2,2],[3,3]])
print(x,y)

(2, 3) (2, 3)

In [17]:
a=[2,3,5,8]
count=0
while max(a)!=min(a):
    ex=a.index(max(a))
    dif=max(a)-min(a)
    for i in range(len(a)):
        if i!=ex:
            a[i]+=dif
    count+=dif
    print(a)
            
count

[8, 9, 11, 8]
[11, 12, 11, 11]
[12, 12, 12, 12]

10

In [15]:
a=[2,3,5,8]
count=0
while max(a)!=min(a):
    ex=a.index(max(a))
    for i in range(len(a)):
        if i!=ex:
            a[i]+=1
    count+=1
    print(a)
            
count

[3, 4, 6, 8]
[4, 5, 7, 8]
[5, 6, 8, 8]
[6, 7, 8, 9]
[7, 8, 9, 9]
[8, 9, 9, 10]
[9, 10, 10, 10]
[10, 10, 11, 11]
[11, 11, 11, 12]
[12, 12, 12, 12]

10

In [3]:
a=[8,8,8,8]
all([True if a[i]==max(a) else False for i in range(4)])

True

In [14]:
a=[3,4,8,8]
a.index(max(a))

2

In [24]:
ord('A')

65

In [25]:
for l in 'AB':
    print(l)

A
B

In [29]:
a=19

sum([i**2 for i in map(int,list(str(a)))])

82

In [36]:
n=1
lis=[]
while True:

    if n in lis:
        print('False')
        break
    if n==1:
        print('True')
        break
    lis.append(n)
    n=sum([i**2 for i in map(int,list(str(n)))])

True

In [56]:
num1='34209'
num2='2640322'
n=max(len(num1),len(num2))
num1=list(num1.rjust(n,'0'))
num2=list(num2.rjust(n,'0'))
lis=[]
for i in range(n-1,0,-1):
    if num1[i]=='10':
        a1=10
    else:    
        a1=ord(num1[i])-48
        a2=ord(num2[i])-48
    if a1+a2>=10:
        lis.append(str(a1+a2)[1])
        num1[i-1]=str(ord(num1[i-1])-48+1)
    else:
        lis.append(str(a1+a2))
if num1[0]=='10':
    a1=10
else:    
    a1=ord(num1[0])-48
    a2=ord(num2[0])-48
lis.append(str(a1+a2))
''.join(lis[::-1])

'2674531'

In [41]:
num1.rjust(7,'0')

'0034203'

In [45]:
ord('9')

57